[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
pandas = "==1.2.4"
numpy = "*"
Keras-Preprocessing = "*"
tensorflow = "==2.4.1"
tensorflow-estimator = "==2.4.0"
tensorflow-text = "==2.4.1"
pytorch-pretrained-bert = "==0.6.2"
click = "*"
python-dotenv = "*"
pyyaml = "*"
matplotlib = "*"
sklearn = "*"
scikit-learn = "*"
spacy = "*"
mlflow = "*"
emoji = "*"
tensorflow-hub = "==0.11.0"
pydot = "==1.4.2"
graphviz = "*"
tf-models-official = "==2.4.0"
transformers = "==4.8.2"
fasttext = "*"

[dev-packages]

[requires]
python_version = "3.8.2"
