[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
pandas = "==1.2.4"
numpy = "*"
Keras-Preprocessing = "*"
tensorflow = "==2.4.1"
click = "*"
python-dotenv = "*"
pyyaml = "*"
matplotlib = "*"
sklearn = "*"
scikit-learn = "*"
spacy = "*"
mlflow = "*"
emoji = "*"

[dev-packages]

[requires]
python_version = "3.8.2"
